[Desktop Entry]
Type=Link
Name=Portal on GitHub
Comment=Portal's source, documentation and releases
URL=https://github.com/Retrorerr/Portal
Icon=internet-web-browser
